<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h2>User List</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.phone}"></td>
    </tr>
</table>
<a th:href="@{/users/new}">Add New User</a>
</body>
</html>